<div class="purchase-wrapper">
  <div *ngIf="!(purchases$ | async)">
    <p>{{ 'anms.common.loading' | translate }}</p>
  </div>
  <div *ngIf="(error$ | async) as error">
    <mat-error>{{error.message}}</mat-error>
  </div>
  <div class="filter-wrapper">
    <mat-form-field class="filter-option">
      <input matInput placeholder="{{'anms.purchases.search' | translate }}">
    </mat-form-field>
    <mat-form-field class="filter-option">
      <input matInput [matDatepicker]="picker" placeholder="{{'anms.purchases.choose.date' | translate }}">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox class="filter-option">{{ 'anms.purchases.payment.reminder' | translate }}</mat-checkbox>
  </div>
  <anms-table *ngIf="purchases$ | async" [purchases]="purchases$ | async"></anms-table>
</div>
