<div *ngIf="dialogData.type==paymentDialogs.BANK_DIALOG">
  <p mat-dialog-title>{{'anms.account.dialog.bank.title' | translate }}</p>
  <div mat-dialog-content [formGroup]="bankForm">
    <textarea matInput formControlName="bankinfo"></textarea>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="{ type: '' }">{{'anms.common.cancel' | translate }}</button>
    <button mat-button [mat-dialog-close]="{ type: dialogData.type, formdata: bankForm.value }">{{'anms.common.ok' | translate }}</button>
  </div>
</div>

<div *ngIf="dialogData.type==paymentDialogs.CARD_DIALOG">
  <p mat-dialog-title>{{'anms.account.dialog.card.title' | translate }}</p>
  <div mat-dialog-content class="info" [formGroup]="cardForm">
    <input matInput formControlName="card" placeholder="{{'anms.account.dialog.card' | translate }}"/>
    <input matInput formControlName="cardnumber" placeholder="{{'anms.account.dialog.cardnumber' | translate }}"/>
    <span class="date-cvv">
      <input matInput formControlName="month" placeholder="{{'anms.account.dialog.month' | translate }}"/>
      <input matInput formControlName="year" placeholder="{{'anms.account.dialog.year' | translate }}"/>
      <input matInput formControlName="cvv" placeholder="{{'anms.account.dialog.cvv' | translate }}"/>
    </span>
    <input matInput formControlName="zipcode" placeholder="{{'anms.account.dialog.zipcode' | translate }}"/>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="{ type: '' }">{{'anms.common.cancel' | translate }}</button>
    <button mat-button [mat-dialog-close]="{ type: dialogData.type, formdata: cardForm.value }">{{'anms.account.dialog.card.add' | translate }}</button>
  </div>
</div>

<div *ngIf="dialogData.type==paymentDialogs.CHANGE_DEFAULT_DIALOG">
  <p mat-dialog-title>{{'anms.account.dialog.default.payment.title' | translate}}</p>
  <div mat-dialog-content class="images">
      <div
      [ngClass]="{'active': dialogData.selectedType === paymentMethods.CARD}"
      class="card"
      (click)="dialogData.selectedType = paymentMethods.CARD">
        <img src="../../../assets/visa.png" alt="{{'anms.account.dialog.alt.visa.card' | translate }}">
        <p>{{dialogData.account.paymentMethodInfo.cardInfo}}</p>
      </div>
      <div
      [ngClass]="{'active': dialogData.selectedType === paymentMethods.BANK}"
      class="bank"
      (click)="dialogData.selectedType = paymentMethods.BANK">
        <img src="../../../assets/bank.png" alt="{{'anms.account.dialog.alt.bank' | translate }}">
        <p>{{dialogData.account.paymentMethodInfo.bankInfo}}</p>
      </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="{ type: '' }">{{'anms.common.cancel' | translate }}</button>
    <button mat-button [mat-dialog-close]="{ type: dialogData.type, selectedType: dialogData.selectedType }">{{'anms.common.ok' | translate }}</button>
  </div>
</div>
