<div *ngIf="data.type=='bank'">
  <p mat-dialog-title>Add a Bank Account</p>
  <div mat-dialog-content>
    <textarea rows="4" cols="50"></textarea>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="addPaymentMethod('bank')">OK</button>
  </div>
</div>

<div *ngIf="data.type=='card'">
  <p mat-dialog-title>Add a Payment Card</p>
  <div mat-dialog-content class="info">
    <input matInput name="card" placeholder="{{'anms.account.dialog.card' | translate }}"/>
    <input matInput name="cardnumber" placeholder="{{'anms.account.dialog.cardnumber' | translate }}"/>
    <span class="date-cvv">
      <input matInput name="month" placeholder="{{'anms.account.dialog.month' | translate }}"/>
      <input matInput name="year" placeholder="{{'anms.account.dialog.year' | translate }}"/>
      <input matInput name="cvv" placeholder="{{'anms.account.dialog.cvv' | translate }}"/>
    </span>
    <input matInput name="zipcode" placeholder="{{'anms.account.dialog.zipcode' | translate }}"/>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="addPaymentMethod('card')">Add Card</button>
  </div>
</div>

<div *ngIf="data.type=='change_default'">
  <p mat-dialog-title>Select Default Payment Method</p>
  <div mat-dialog-content class="images" *ngFor="let account of data.accounts">
      <div
      [ngClass]="{'active': data.selectedType === paymentmethods.CARD}"
      class="card"
      (click)="data.selectedType = paymentmethods.CARD">
        <img src="../../../assets/visa.png" alt="Visa card">
        <p>{{account.paymentMethodInfo.cardInfo}}</p>
      </div>
      <div
      [ngClass]="{'active': data.selectedType === paymentmethods.BANK}"
      class="bank"
      (click)="data.selectedType = paymentmethods.BANK">
        <img src="../../../assets/bank.png" alt="bank">
        <p>{{account.paymentMethodInfo.bankInfo}}</p>
      </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data.selectedType">OK</button>
  </div>
</div>
