<div class="container" *ngIf="accountsData">

  <div *ngIf="accountsData.loading">
    <p>Loading...</p>
  </div>

  <div *ngFor="let error of accountsData.errors ">
    <mat-error>{{error.message}}</mat-error>
  </div>

  <div class="accounts" *ngFor="let accountInfo of accountsData.accountInfos" >
    <div class="personal-information" >
      <h2 class="title">{{ 'anms.account.information.title' | translate }}</h2>

      <div class="info" *ngFor="let entry of accountsData.personalInfoLabels">
        <label for="{{entry.key}}" class="label col-sm-2">{{ entry.value | translate }}:</label>
        <p *ngIf="!entry.isEditable" class="value col-sm-4">{{accountInfo.personalInfo[entry.key]}}</p>
        <input *ngIf="entry.isEditable" type="text" class="edit-input" [(ngModel)]="accountInfo.personalInfo[entry.key]">
        <p class="value col-sm-4">
          <a class="action" (click)="entry.isEditable = !entry.isEditable">
            {{entry.isEditable ? "Save" : "Edit"}}</a>
        </p>
      </div>
    </div>

    <div class="payment-methods">
        <h2 class="title">{{ 'anms.account.payment.method' | translate }}</h2>
        <div class="info">
          <label for="card" class="label col-sm-2">{{ 'anms.account.payment.cards' | translate }}</label>
          <img src="assets/visa.png" alt="Visa card">
          <p name="card" class="value col-sm-4">{{accountInfo.paymentMethodInfo.cardInfo}}
            <a class="action" (click)="openDialog(paymentDialogs.CARD_DIALOG)">{{ 'anms.account.payment.add' | translate }}</a>
          </p>
          <p *ngIf="accountsData.selectedMethod=='card'">{{ 'anms.account.payment.default' | translate }}</p>
        </div>
        <div class="info">
          <label for="bank" class="label col-sm-2">{{ 'anms.account.payment.bank' | translate }}</label>
          <img src="assets/bank.png" alt="Bank">
          <p name="bank" class="value col-sm-4">{{accountInfo.paymentMethodInfo.bankInfo}}
            <a class="action" (click)="openDialog(paymentDialogs.BANK_DIALOG)">{{ 'anms.account.payment.add' | translate }}</a></p>
          <p *ngIf="accountsData.selectedMethod=='bank'">{{ 'anms.account.payment.default' | translate }}</p>
        </div>
        <div class="default">
          <p><a class="action" (click)="openDialog(paymentDialogs.CHANGE_DEFAULT_DIALOG)">{{ 'anms.account.payment.change' | translate }}</a></p>
        </div>
    </div>

    <div class="notification-wrapper">
        <h2 class="title">{{ 'anms.account.notification.title' | translate }}</h2>
        <div class="info">
          <div class="notifications">
            <mat-checkbox
              *ngFor="let notification of accountsData.notifications"
              class="notification col"
              [checked]="accountInfo.notificationInfo[notification.key]">{{ notification.value | translate }}
            </mat-checkbox>
          </div>
        </div>
    </div>
  </div>
</div>